/*------------------------ FONTS ------------------------*/

@font-face {
  font-family: "silkablack";
  src: url("Silka-Roman-Webfont/silka-black-webfont.eot");
  src: url("Silka-Roman-Webfont/silka-black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Silka-Roman-Webfont/silka-black-webfont.woff2") format("woff2"),
    url("Silka-Roman-Webfont/silka-black-webfont.woff") format("woff"),
    url("Silka-Roman-Webfont/silka-black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "silkabold";
  src: url("Silka-Roman-Webfont/silka-bold-webfont.eot");
  src: url("Silka-Roman-Webfont/silka-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Silka-Roman-Webfont/silka-bold-webfont.woff2") format("woff2"),
    url("Silka-Roman-Webfont/silka-bold-webfont.woff") format("woff"),
    url("Silka-Roman-Webfont/silka-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "silkasemibold";
  src: url("Silka-Roman-Webfont/silka-semibold-webfont.eot");
  src: url("Silka-Roman-Webfont/silka-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Silka-Roman-Webfont/silka-semibold-webfont.woff2") format("woff2"),
    url("Silka-Roman-Webfont/silka-semibold-webfont.woff") format("woff"),
    url("Silka-Roman-Webfont/silka-semibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "silkamedium";
  src: url("Silka-Roman-Webfont/silka-medium-webfont.eot");
  src: url("Silka-Roman-Webfont/silka-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Silka-Roman-Webfont/silka-medium-webfont.woff2") format("woff2"),
    url("Silka-Roman-Webfont/silka-medium-webfont.woff") format("woff"),
    url("Silka-Roman-Webfont/silka-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "silkaregular";
  src: url("Silka-Roman-Webfont/silka-regular-webfont.eot");
  src: url("Silka-Roman-Webfont/silka-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Silka-Roman-Webfont/silka-regular-webfont.woff2") format("woff2"),
    url("Silka-Roman-Webfont/silka-regular-webfont.woff") format("woff"),
    url("Silka-Roman-Webfont/silka-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "silkalight";
  src: url("Silka-Roman-Webfont/silka-light-webfont.eot");
  src: url("Silka-Roman-Webfont/silka-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Silka-Roman-Webfont/silka-light-webfont.woff2") format("woff2"),
    url("Silka-Roman-Webfont/silka-light-webfont.woff") format("woff"),
    url("Silka-Roman-Webfont/silka-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "silkaextra_light";
  src: url("Silka-Roman-Webfont/silka-extralight-webfont.eot");
  src: url("Silka-Roman-Webfont/silka-extralight-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Silka-Roman-Webfont/silka-extralight-webfont.woff2") format("woff2"),
    url("Silka-Roman-Webfont/silka-extralight-webfont.woff") format("woff"),
    url("Silka-Roman-Webfont/silka-extralight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "silkathin";
  src: url("Silka-Roman-Webfont/silka-thin-webfont.eot");
  src: url("Silka-Roman-Webfont/silka-thin-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("Silka-Roman-Webfont/silka-thin-webfont.woff2") format("woff2"),
    url("Silka-Roman-Webfont/silka-thin-webfont.woff") format("woff"),
    url("Silka-Roman-Webfont/silka-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "alpina";
  src: url("alpina/GT-Sectra-Fine-Regular-Trial.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*------------------------ VARIABLES ------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap");

:root {
  /* primary color variables */

  --color-primary-900: #00ad56;
  --color-primary-800: #009c49;
  --color-primary-700: #00ad56;
  --color-primary-600: #00c164;
  --color-primary-500: #00d26f;
  --color-primary-200: #6aeeb5;
  --nice-black: #252525;

  /* secondary color variables */

  --buttons: #5e5e5e;

  --modernblack: #0d0d0e;

  --color-secondary-900: #00696a;
  --color-secondary-800: #008c96;
  --color-secondary-700: #00a1af;
  --color-secondary-600: #00b6c9;
  --color-secondary-500: #00c7dd;
  --color-secondary-400: #00d0e1;
  --color-secondary-300: #00d9e7;

  --color-gray200: #ffffff;
  --nice-shadow: 0 10px 20px 0 rgb(0 0 0 / 5%);

  /* border radius */

  --radius: 0.2rem;
}

/*  */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.margin-roles {
  margin-right: 30px;
  margin-left: 30px;
}

#heroimage1 {
  width: 800px !important;
  overflow: hidden !important;
  height: 370px;
}






.wrap3{
  height:200px;
  width:200px;
  overflow:hidden;
  position:relative;
  background:rgb(29, 29, 29);
  margin:30px auto 0;
  border-radius: 25px;
}
.front, .back{
  width:100%;
  height:100%;
}

/* Front */ 
.front{}
.front{
  
 
  
}

.front-background {
  
}

.front p:before{
  font-family:"entypo";
  margin-right:5px;
  background:#0A6E3B;
  height:40px;
  width:40px;
  font-size:20px;
  display:block;
  text-align:center;
  float:left;
  border-right:1px solid #51D491;
  position: relative;
  top: 100px;
}
.front p{
  position:relative;
  top:80px;
  z-index: 1;
  line-height:27px;
  transition:all .4s;
  padding-right: 10px;
  padding-left: 10px;

}

/* back */
.back{
  opacity:0;
  /* background:#a11111; */
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  transition:all .1s ;
}

.back p:before{
  font-family:"entypo";
  margin-right:5px;
  
  height:40px;
  width:40px;
  font-size:20px;
  display:block;
  text-align:center;
  float:left;
  border-right:1px solid #51D491;
  position: relative;
  top: -100px;
}

.back p{
  position:relative;
  top:100px;
  z-index: 1;
  line-height:40px;
  transition:all .4s;
}

.front .p3 {
  position: relative;
  top: 120px;



}


/* effect */

.wrap3:hover .h4{
  top: 22px;
}
.wrap3 .back:hover{
  opacity:1;
}

.wrap3:hover{
  background: rgb(0, 129, 138);
  transition:all .3s;
}

.wrap3:hover .p3{
  top:-20px;
  margin-bottom:0;
}
.wrap3 .back:hover h1:before{
  	transform: scale(1);
}



.card-shadow {
  background:  rgb(143, 50, 27);
  
}








#heroimage2 {
  width: 600px !important;
}

.margin10 {
  margin-bottom: 10px !important;
}

#heroimage3 {
  width: 600px !important;
}

.fa-arrow-right {
  width: 12px;
}

.highlight-grey {
  color: rgb(199, 199, 199) !important;
}

.padding-10 {
  margin: 4px;
  margin-right: 10px;
  margin-left: 10px;
}

.paddingleft-10 {
  padding-left: 40px;
}


.verylight {
  font-family: "silkalight" !important;
  font-weight: 400;
}

.container-principal {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.brand-color-highlight a {
  color: rgb(31, 55, 194) !important;
}

footer {
  bottom: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  
  flex-direction: column;
  font-family: "silkamedium", "silka", sans-serif;
  background: var(--modernblack);
  letter-spacing: -0.5px;
  color: white !important;
  overflow-x:hidden;
 

  
 
}




.overflowhidden {
 
  /* overflow: hidden; */
  
  margin: 0px !important;
}

main {
  flex: 1;
}

section {
  width: 100%;
  padding: 0 0 0rem;
  flex: 1;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "silkamedium";
  font-size: 63px;
  color: black;
}

h2 {
  font-family: "silkamedium";
  font-size: 35px;
  color: black;
  margin: 1.25rem 0;
  line-height: 1.6rem;
}

h3 {
  font-family: "silkamedium", sans-serif;
  font-size: 30px;
  color: black;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  margin: 1.25rem 0;
}

.width100 {
  width: 20vw !important;
}

h4 {
  font-family: "silkamedium";
  font-size: 20px;
  color: black;
  line-height: 1.6rem;
  margin: 1.25rem 0;
}

h5 {
  font-family: "silkalight";
  font-size: 18px;
  text-align: center;
  line-height: 35px;
}

p {
  font-family: "silkaregular";
  font-weight: 200;
  font-size: 18px;
  color: var(--buttons);
  margin: 0 0 1rem;
 
  color: white;
}

b {
  color: white;
}

.h0 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -0.05em;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  color: rgb(27, 27, 27);
  font-size: 90px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "silkabold";
  text-align: left;
}

.underlinelanding {
  height: 4px;
  width: 120px;
  position: absolute;
  top: 100px;
  background-image: linear-gradient(
    225deg,
    #e241fc 36.04%,
    #5900b2 88.83%,
    #0044ff 220.3%
  );
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -0.05em;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  color: rgb(27, 27, 27);
  font-size: 96px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "silkasemibold";
  text-align: left;
  letter-spacing: -3px;
  color: white;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -0.05em;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  color: rgb(27, 27, 27);
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  font-family: "silkasemibold";
  text-align: left;
  letter-spacing: -4px;
  color: white;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -0.05em;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  color: rgb(27, 27, 27);
  font-size: 56px;
  line-height: 1;
  font-weight: 600;
  font-family: "silkasemibold";
  color: white;
}

.light {
  font-family: "silkaregular" !important;
}

.f-22 {
  font-size: 30px !important;
  margin: 0px !important;
  color: white;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.gap10 {
  justify-content: space-between;
  gap: 5%;
  
}
.gap20 {
  gap: 10% !important;

}

.spacebetween {
  justify-content: space-between;
}

.flexstart {
  justify-content: flex-start !important;
}

.h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -0.05em;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  color: rgb(27, 27, 27);
  line-height: 1;
  font-weight: 400;
  font-family: "silkabold";
  letter-spacing: -0.03em;
  font-size: 72px;
  color: white;
}

.secondsub {
  letter-spacing: -1.5px;
  line-height: 58px;
  color: rgb(37, 37, 37);
  font-size: 52px;
  font-family: "silkasemibold";
}

.h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -0.05em;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1.6;
  font-weight: 600;
  font-family: "silkasemibold";
}

.flex-start {
  align-items: flex-start !important;
}

.pt-2 {
  padding-top: 20px;
}

.p1 {
  margin-bottom: 0px;
  margin-left: -0.05em;
  color: rgb(19, 19, 19);
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
  font-family: "silkamedium";
  color: #ffffff;
  letter-spacing: -1px;
}

.p-2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p2 {
  margin-bottom: 0px;
  margin-left: -0.05em;
  color: rgb(19, 19, 19);
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  font-family: "silkamedium";
  color: black;
}

.p3 {
  margin-bottom: 0px;
  margin-left: -0.05em;
  color: rgb(19, 19, 19);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "silkamedium";
  color: rgb(224, 224, 224);
}

.displayflex {
  display: flex !important;
  justify-content: space-between !important;
}

.displayflex2 {
  display: flex !important;
}

.p4 {
  margin-bottom: 0px;
  margin-left: -0.05em;
  color: rgb(19, 19, 19);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  font-family: "silkaregular";
  color: rgb(77, 77, 77);
}

.bold {
  font-family: "silkasemibold";
}

.p-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.skills-row {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.software {
  padding-top: 2px;
}

#correo {
  color: rgb(33, 33, 189);
}

.skills-button {
  padding: 10px;
  border: 1px solid rgb(206, 206, 206);
  font-size: 12px;
  border-radius: 10px;
  color: rgb(128, 128, 128);
  width: 140px !important;
  margin-right: 8px;
  margin-bottom: 8px;

  font-weight: 200;
}

/* The footer is fixed to the bottom of the page */

.background-header {
  background-color: var(--modernblack);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.new-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center !important;
  align-content: center;

  padding-bottom: 25px;
}

.social-list {
  display: flex;
  list-style: none;
  margin-bottom: 0px !important;
}

.social-list li {
  margin-bottom: 0px;
}

.footer-l p {
  font-size: 14px;
  margin-bottom: 0px;
}

.footer-r button {
  padding-left: 140px;
}

.social-list i {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 24px;
  list-style: none;
}

.header {
  padding: 30px 0;
  display: flex;
  flex-direction: row;
}

.logo {
  flex: 1;
  font-family: "silkasemibold", sans-serif !important;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo a {
  font-family: "silkabold", sans-serif !important;
  font-size: 20px;
  background-color: var(--modernblack);
  color: rgb(255, 255, 255) !important;
  padding: 4px;
}

.logosize {
  width: 22px;
}

.header .nav {
  margin: 0;
  padding: 0;
}

@media (max-height: 800px) {
  footer {
    position: static;
  }
}

.hero-title,
.hero-subtitle {
  display: flex;
  align-items: flex-start;
}

.box-scroll {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.button-box {
  display: flex;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;

  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.box-scroll::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  content: "";
  height: 10px;
  position: absolute;
}
.box-scroll::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: "";
  height: 10px;
  position: absolute;
}

.box-scroll ul {
  float: right;
  margin: 0;
  padding: 0;
  -webkit-animation: scrollUp 4s ease-in-out infinite normal;
  animation: scrollUp 4s ease-in-out infinite normal;
}
.box-scroll ul li {
  opacity: 1;
  height: 100px;
  padding: 10px;
  list-style: none;
}

.header-area span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "silkamedium";
  font-size: 30px;
}

@-webkit-keyframes scrollUp {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes scrollUp {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
  }
}

.flex-end {
  justify-content: flex-end;
}

#landingmainmessage {
  height: 100vh;
  align-items: center;
  padding: 0px !important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#hero-subhead2 {
  font-size: 50px;
  width: 680px;
  text-align: center;

  letter-spacing: -1.5px;
  line-height: 36px;
  color: rgb(255, 255, 255);
  font-family: "silkasemibold";
  margin-bottom: 10px;
}

#hero-subhead {
  font-size: 24px;
  width: 800px;
  text-align: center;

  letter-spacing: 0.009em;
  line-height: 36px;
  color: rgb(206, 206, 206);
}

.button-main-page {
  color: var(--buttons);
}

.gradient0 {
  background: -webkit-linear-gradient(rgb(211, 28, 4), rgb(255, 145, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient {
  background: -webkit-linear-gradient(rgb(0, 66, 141), rgb(111, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient2 {
  background: -webkit-linear-gradient(rgb(98, 0, 255), rgb(132, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.button-main-page i {
  width: 30px;
  font-size: 20px;
  transition: all 0.4s ease;
}

.button-main-page:hover i {
  transform: rotateZ(0deg);
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid rgb(219, 219, 219);
  border-radius: 50%;
  cursor: none;
  box-shadow: var(--nice-shadow);

  /*Set the size of the magnifier glass:*/
  width: 400px;
  height: 400px;
}

.desired-outcome {
  color: #0f0f0f;
  font-weight: 400;
}

.inprogress {
  background-color: #c377e0;
  color: white;
  padding: 6px;
  font-size: 12px;
  border-radius: 10px;
  margin: 10px;
}

.story-container {
  padding: 15px;
  text-align: center;
}

.job-story {
  color: #791273;
  font-weight: 400;
  font-style: italic;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: center;
}

.hero-wrap {
  width: 100%;
  max-width: 760px;

  padding: 1rem 0 0rem;
  position: relative;
  text-align: left;
}

.footerbutton {
  padding: 14px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(182, 182, 182);
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  width: 160px;
  border-radius: 6px;
}

.highlight-blue {
  color: rgb(0, 217, 255);
}

.bigfont {
  font-size: 22px !important;
}

.highlight-black {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.highlight-purple {
  color: rgb(185, 0, 241);
}

.p-0 {
  padding: 0px !important;
  margin: 0px !important;
}

.blackcolor {
  color: black !important;
}

.next-after-buttons {
  width: 100%;
  height: 80px;

  display: flex;
  padding: 1rem 0 1rem;
  position: relative;
  justify-content: space-between;
}

.hero-wrap h2 {
  text-align: left;
  font-family: "silkasemibold";
  font-size: 50px;
  letter-spacing: -0.9px;
  line-height: 50px;
  color: rgb(41, 41, 41);
}

.greybubble {
  background-color: rgb(32, 32, 32);
  padding: 20px;
  border-radius: 20px;
  min-height: 200px;
}

.text_left {
  text-align: left !important;
  padding-top: 50px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  margin: 0px;
}

.text-holder {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page ol,
.page ul {
  padding: 0 0 0 2rem;
}

ol,
ul,
li {
  line-height: 1.8rem;
  margin: 0 0 0.5rem;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.nav-list {
  background: var(--modernblack);
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  list-style: none;
}

.modernblack {
  color: var(--modernblack);
}

.nav-list:nth-child(-1) {
  margin-right: 0px !important;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  font-family: "silkasemibold";
  padding-bottom: 2px;
  color: black !important;
}

.nice-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

.nice-grey-line {
  border-bottom: 1px solid rgb(255, 255, 255);

  color: rgb(211, 211, 211) !important;
}

.button-primary {
  background-color: #6aebb5;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
}

#skip,
#skip:hover,
#skip:visited {
  position: absolute;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip:active,
#skip:focus {
  z-index: 9999;
  position: static;
  width: auto;
  height: auto;
  color: black;
}

.skip-link:focus {
  transform: translateY(0%);
}

.skip-link {
  /* Same as  before */
  transition: transform 0.3s;
}

/*------------------------ HEADINGS AND PARAGRAPHS ------------------------*/

.iteration-image {
  width: calc(70%) !important;

  /* margin: 2.5rem 0 2.5rem -10.25rem; */
}

.iteration-2 {
  top: 0px !important;
  left: 0px;
  right: 0px;
}

.page figure {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 10px;
}

.legend {
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  font-family: "silkalight";
  color: rgb(255, 255, 255);
}

figure {
  position: relative;
}

figure p {
  padding-left: 4rem;
  padding-right: 4rem;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.title {
  font-size: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.indented {
  padding: 10px;
}

.note {
  background-color: #f7f7f7;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  margin-top: 20px;
}

/*------------------------ BUTTONS and ICONS ------------------------*/

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  width: 50px;
  background: var(--color-primary-200);
}

.button_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  background: none;
  background-color: var(--color-primary-200);
  width: 50px;
}

.button_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  background: none;
  background-color: rgb(255, 225, 255);
  width: 100%;
}

#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 50%;
  background: rgba(red, green, blue, alpha);
}

.progressbar {
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  min-width: 200px;
  background-size: 100%;
  animation: animate 15s linear infinite;
}

#progressbar:after {
  filter: blur(1px);
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  0% {
    filter: hue-rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0;
}

.highlight-bad {
  color: rgb(216, 0, 0);
}

.highlight-medium {
  color: rgb(255, 187, 0);
}

.supersickcolor {
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  min-width: 200px;
  background-size: 100%;
}

.highlight-good {
  color: rgb(6, 173, 0);
}

.slider-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  height: 60px;
  margin-bottom: 20px;
}

.slider-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 162.14px;
}

.slider {
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border-radius: 25px;
  height: 10px;
  width: 100%;
}

.slider span {
  position: relative;
  display: inline-block;
  top: -3px;

  height: 10px;

  border-radius: 25px;

  background-size: 100%;
}

.warning {
  background-color: red;
}

.alert {
  background-color: rgb(255, 208, 0);
}

.success {
  background-color: rgb(12, 184, 12);
}

.button_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  background-color: rgb(204, 236, 255);
  border-radius: 0rem;
  width: 50px;
}

/* arrow icon */

.align-items-iteration {
  align-items: top !important;
  margin-top: 20px;
}

.arrow_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.arrow_icon img {
  width: 35px;
}

/* mobile 375px */

/*------------------------ NAVEGATION ------------------------*/

.navbar {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 1;
}

.navbar_container {
  background: white;
  box-shadow: var(--nice-shadow);
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Logo */

/* Toggle icon and animation */

.navbar_toggle .bar {
  height: 2px;
  margin: 5px;
  transition: all 0.3 ease-in-out;
  background: rgb(0, 0, 0);
  padding-right: 1.6rem;
}

#mobile_menu.is-active .bar:nth-child(2) {
  opacity: 0;
}
#mobile_menu.is-active .bar:nth-child(1) {
  transform: translateY(330%) rotate(-45deg);
}

#mobile_menu.is-active .bar:nth-child(3) {
  transform: translateY(-330%) rotate(-135deg);
}

/* side navegation  */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: -1000;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 70px;
  box-shadow: var(--nice-shadow);
}

.sidenav.active {
  width: 280px;
  z-index: -1000;
}

.navbar_menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: absolute;
  z-index: -1;
  padding-top: 50px;
  padding-left: 2rem;
  padding-bottom: 2rem;
  list-style-type: none;
}

.navbar_menu_item {
  padding: 0.8rem;
  width: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.navbar_menu_item_link {
  font-family: "silkasemibold";
  font-size: 18px;
  color: black;
  background-color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

/* navbar toggle */

#mobile_menu {
  position: absolute;
  top: 20%;
  right: 6%;
  transform: translate(5%, 20%);
}

.navbar_toggle .bar {
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

/*------------------------ FOOTER ------------------------*/

.button {
  padding: 15px;
}

/*------------------------ LANDING PAGE ------------------------*/

.main {
  background-color: white;
}

.main_message {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: var(--modernblack);

  height: 100%;
}

.main_container {
  background-color: var(--modernblack);
  display: flex;
  flex-direction: column;
  line-height: 1px;
}

.main_container_uxm {
  display: flex;
}

.four-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.personas-wrapper {
  display: flex;
  align-items: center;
}

.persona {
  padding: 20px;
}

.persona img {
  width: 400px;
  height: 480px;
}

.container-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #ffffff;
  box-shadow: var(--nice-shadow);

  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 20px;
  border-radius: 30px;
}

.container-image {
  width: 260px;
}

.container-image img {
  width: 260px;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.button-main-page {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;

  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: var(--modernblack);
}

.button-footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  color: rgb(19, 19, 19);
  width: 60%;
  margin-top: 10px;
}

.mlr-1 {
  margin-left: 10px;
  margin-right: 10px;
}

.white-background {
  color: white;
}

.button-main-page a {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.arrow-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  width: 90%;
  height: 90vh;
}



.arrow-container img {
  padding: 20px;

  transition: all 0.4s ease;
}

.arrow-container img:hover {
  transform: rotateZ(-90deg);
}

.button-main-page img {
  height: 15px;
  padding-right: 10px;
}

.cases .row {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.

.cases .rowspecial .amplificar {
  width: calc(100%) !important;
}

.pl-1 {
  padding-left: 20px;
}

.container_text .h3 {
  margin-bottom: 30px;
}

.row img {
  object-fit: cover;
  max-width: 100%;

  border-radius: 10px;
}

#uxmethods {
  padding: 0px !important;
}

#uxmethods > .main_container-card {
  padding: 0px !important;
}

#main_img {
  height: 100%;
  width: 100%;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main_container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* landing page cards */

.row {
  display: flex;

  align-items: left;
  justify-content: center;
  flex-direction: column;
  background: var(--modernblack);
  border-radius: var(--radius);

  min-width: auto;
  width: 100%;

  border-radius: 4px;
}

/* card animation */

.main_container_content_image img {
  border-radius: 6px;
}

/* card animation */

.main_container_content_image {
  overflow: hidden;

  width: 100%;
  background-color: white;
  color: white;
  object-fit: cover;
  border-radius: 6px;
}

.main_container_content_text {
  padding-bottom: 0.5rem;
}

.main_container_content_text button {
  margin-top: 30px;
}

.main_container_content_image img {
  background-color: white;
  color: white;
  width: 100%;

  object-fit: fill;
}

.main_container_content_text h1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 18px;
  background: none;
  margin: 8px;
  margin-bottom: 0px;
  font-family: "silkamedium";

  color: black;
  line-height: 1.6rem;
}

.row p {
  background: none;
  margin: 10px;

  margin-top: 0px;
}

/* skill container and buttons */

.skills_container {
  display: flex;

  padding-top: 14px;
  border-top: rgb(243, 243, 243) solid 0.1rem;
}

.year {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-family: "silkamedium";
  width: 20%;
  margin-right: 120px;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  width: 100%;
}

/* skill buttons */

.skills p {
  font-family: "silka";
  font-size: 14px;
  padding: 0px;
  line-height: 12px;
  color: rgb(0, 0, 0);
}

/*------------------------ ABOUT, EXPERIMENTS, NOTES PAGES------------------------*/
/* SECTION 1 */

.detail_view_card {
  display: grid;
  grid-template-rows: auto;
  align-items: top;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  padding-top: 2rem;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  padding-bottom: 2rem;
  height: 90vh;
}

.detail_view_card_content {
  height: 90vh;
}

.detail_view_card_text {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.main_card_image {
  border-radius: var(--radius);
  padding-left: 2rem;
  padding-right: 2rem;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.main_card_image img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

/* SECTION 2 */

.description_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: rgb(255, 255, 255);
}

.description_container_item img {
  width: 100vw;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.description_container_item p:nth-child(2) {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 14px;
  font-style: italic;
}

/* parallax image */

.pimg1 {
  background-image: url("imgs/michigan.jpg");
  min-height: 200px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* fixed = parallax
    scroll = normal
  */

  background-attachment: fixed;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ++++ ABOUT, EXPERIMENTS, NOTES NON-GENERIC STYLING ++++  */

/* About page background color, page main title and subtitles */

.detail_view_card_text h1 {
  font-size: 63px;
}

#about {
  background-color: #252525;
}

#about_text h1 {
  color: rgb(255, 255, 255);
}

#about_text h2 {
  font-family: "silkamedium";
  color: rgb(255, 255, 255);
  font-size: 22px;
  padding-top: 10px;
}

#about_text p {
  padding-top: 1.6rem;
  color: white;
}

/* Experiments background color, page main title and subtitles */

#experiments {
  background-color: #76e7e0;
}

#experiments_text h1 {
  padding-top: 1.6rem;
  color: rgb(0, 0, 0);
}

#experiments_text h2 {
  font-family: "silkamedium";
  color: rgb(0, 0, 0);
  font-size: 22px;
  padding-top: 10px;
}

#experiments_text p {
  padding-top: 0.6rem;
  color: rgb(0, 0, 0);
}

.flip-card {
  background-color: transparent;
  width: 150px;
  height: 300px;

  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front img {
  margin: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 40px;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 40px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 40px;
}

/* Style the back side */
.flip-card-back {
  background-color: rgb(51, 51, 51);
  color: white;
  transform: rotateY(180deg);
  border-radius: 40px;
  display: flex;
  align-items: center;
}

/* flip card items alignment  */

.phones_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
  justify-items: center;
  margin: 2rem;
}

/* Notes page background color, main title and subtitles */

#notes {
  background-color: #ffd000;
}

#notes_text h1 {
  padding-top: 1.6rem;
  color: rgb(0, 0, 0);
}

#notes_text h2 {
  font-family: "silkamedium";
  color: rgb(0, 0, 0);
  font-size: 22px;
  padding-top: 10px;
}

/* Notes, books container */

.books_container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #f0f4f5;
}

.books_container_title h2 {
  font-size: 25px;
}

.books_container_cards {
  padding-top: 30px;
}

.books_container_cards_item {
  display: flex;
  background-color: white;
  box-shadow: var(--nice-shadow);
  border-radius: 30px;
  padding-left: 25px;
  padding-right: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.books_container_cards_item_rating img {
  width: 40%;
  padding-bottom: 0.5rem;
}

.books_container_cards_item_image {
  width: 900px;
}

.books_container_cards_item_image img {
  width: 100%;
  border-radius: 8px;
  background-size: cover;
}

.books_container_cards_item_text {
  padding-left: 1.6rem;
}

.books_container_cards_item_text_title p {
  color: #000000;
  font-family: "silkamedium";
  font-size: 18px;
}

.books_container_cards_item_text_summary p {
  color: #000000;
  font-size: 14px;
  line-height: none;
}

/* cases page */

.section-1 {
  padding: 50px;
}

.section-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.section-item {
  margin-top: 14px;
}

#contactbutton {
  background: rgb(39, 39, 39);
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; creates a mask*/

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
}

.section-item-image {
  width: 100%;
}

.section-item-image img {
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.cropped2 {
  width: 1000px; /* width of container */
  height: 500px; /* height of container */
  object-fit: cover;
  object-position: -120px -120px; /* try 20px 10px */
  margin-bottom: 60px;
}

/*------------------------ CONTACT PAGE ------------------------*/

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  justify-content: center;
}

/* Card with shadow different sizes */

.shadow_card_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);

  height: 380px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.form_fullname_container,
.form_email_container,
.form_message_container {
  padding-top: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.form_fullname_container label,
.form_email_container label,
.form_message_container label {
  padding-bottom: 0.6rem;
}

.form_fullname_container input,
.form_email_container input {
  height: 2rem;
  border: none;
  background-color: rgb(248, 248, 248);
}

.form_message_container textarea {
  height: 4rem;
  border: none;
  background-color: rgb(248, 248, 248);
}

.form_button {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 1rem;
}

.form_button button {
  width: 7rem;
}

/* important message container ----- USE WHEN WANTING TO SHOW AN IMPORTANT MESSAGE */

.important_message_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(56, 56, 56);
  padding: 1.6rem;
}

.important_message_container h3 {
  font-family: "silkalight";
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration-line: overline;
}

/* _____________________________________________________________ */

.main_message_content {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
}

.margin0 {
  margin-bottom: 0px !important;
}

.fa-exclamation-triangle {
  width: 10px;
  margin-right: 20px;
  color: rgb(255, 43, 43);
}

.flexspacearound {
  justify-content: flex-start !important;
}

.fa-chevron-down {
  margin-top: 200px;
  text-align: center;
}

.main_message_content h5 {
  text-align: left;
  font-family: "silkasemibold";
  font-size: 50px;
  letter-spacing: -0.9px;
  line-height: 50px;
  color: rgb(41, 41, 41);
}

#video {
  border-radius: 30px;
}

.layouts__main___4TklR {
  height: 300px !important;
}

.main_container-card {
  height: 100%;
  overflow: hidden;
}

.row {
  flex-direction: row;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  flex: 1;
  justify-content: space-between;
}

.cases .column {
  width: 45%;
}

.cases .h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

.cases .p2 {
  color: #ffffff;
}

#vr1 {
  background-color: #1b1b1b;
  color: white;
}

#vr1 .p2 {
  color: rgb(255, 72, 0);
}

#vr1 .h3 {
  color: rgb(255, 255, 255);
  padding-right: 40px;
}

.padding-0 {
  padding-right: 0 !important;
  padding-left: 30px;
}

#vr1 a {
  color: rgb(255, 255, 255);
  background-color: #1b1b1b;
  margin-left: 10px;
}

#vr1 i {
  color: rgb(255, 255, 255);
  background-color: #1b1b1b;
}

#vr1 .button-main-page {
  color: rgb(255, 72, 0);
  background-color: #1b1b1b;
}

.name {
  color: white !important;
  margin-bottom: 10px;
}

.cases-margin {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.pb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.text-indent {
  text-indent: 20px;
}

.margin0 {
  margin-top: 0px !important;
}

.iconsito {
  margin: 0px;
}
/* TABLET VERSION */

#iterationunder {
  position: relative;
  bottom: 30px;
  left: -20px;
  z-index: 1;
}

#iterationunder2 {
  position: absolute;
  bottom: -100px;
  right: 20%;
  z-index: -1;
}

#iterationunder3 {
  position: absolute;
  bottom: 200px;
  left: 30%;
  z-index: 1;
  overflow-y: hidden;
}

#showday {
  margin-top: 30px;
  margin-bottom: 16px;
}

#contact-message {
  font-style: italic;
  text-align: center;
}

.highlight-book-blue {
  background-color: rgba(0, 140, 255, 0.212);
}

.regularitalic {
  padding: 0px;
  margin: 0px;
  font-style: italic;
}
/* ------------------------------------------------------------------------- */

.cases-image {
  margin-bottom: 30px;
}

.row-1 {
  margin-top: 80px;
  margin-bottom: 40px;
}

.goal {
  margin-top: 0px !important;
}

.cases {
  margin-top: 4vh;
  margin-bottom: 10vh;

  flex-direction: column;
}

#index-page .cases {
  gap: 50px;
}

.image-big {
  width: 400px !important;
}

.case-image {
}

.greyscale {
  filter: grayscale(1);
}

@media screen and (max-width: 600px) {

  .overflowhidden {
    width: calc(65%) !important;

    
  }

  #iterationunder2 {
  
    bottom: -50px;
    
    left: 0%;
  
  }

  
  #iterationunder {
   
    bottom: -30px;
    left: 30%;

  }

  

  #iterationunder3 {
  
    bottom: 5px;
    left: 55%;
  
   
  }



  .footer-company-about {
    padding-bottom: 25px;
  }

  .cases .row:nth-child(2n) {
    /* flex-direction: column-reverse; */
  }

  #landingmainmessage {
    height: 80vh;
  }

  .fa-chevron-down {
    margin-top: 5px;
    text-align: center;
  }

  .interfacetitle {
    text-align: center !important;
  }

  #hero-subhead2 {
    font-size: 30px;
    width: 80vw;
  }

  .slider-container {
    justify-content: space-evenly;
  }

  #contactbutton {
    margin-bottom: 40px;
  }

  .cases .row {
    flex-direction: column;
    margin-bottom: 0px;
  }

  .social-list li {
    margin-bottom: 25px;
  }

  .warning {
    flex-direction: row !important;
  }

  .social-list {
    justify-content: space-around;
    margin-top: 20px;
  }

  .header {
    padding: 15px 0;
  }

  #hero-subhead {
    width: 90vw;
    font-size: 21px;
    line-height: 30px;
    text-align: left;
  }

  #heroimage1 {
    width: auto !important;
    overflow: hidden !important;
    height: auto;
  }

  #heroimage3 {
    width: 1000px;
  }

  .box-scroll {
    height: 140px;
  }

  .box-scroll > .h2 {
    text-align: left;
    margin-top: 4px;
  }

  #heros {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .cases {
    margin-top: 0px;
  }

  .case-image {
    margin-bottom: 20px !important;
  }

  .cropped2 {
    width: 300px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    object-position: -50px -40px; /* try 20px 10px */
    margin-bottom: 10px;
    margin-top: 40px;
  }

  .cases-image {
    margin-top: 32px;
  }

  .column {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .row-1 {
    margin-top: 34px;
    margin-bottom: 0px;
  }

  .main_message_content {
    margin-bottom: 0rem;
    margin-top: 4px;
  }

  .width100 {
    width: 80vw !important;
    margin-top: 20px;
  }

  .cases .text-right {
    text-align: left;
  }

  .cases .flex-end {
    justify-content: flex-start;
  }

  #vr1 .p2 {
    text-align: center;
  }

  #vr1 .h3 {
    text-align: center;
    padding: 10px;
  }

  #vr1 .button-box {
    justify-content: center;
    margin-bottom: 26px;
  }

  .cases .column img {
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .button-main-page a {
    font-size: 18px;

    border-radius: 10px;
    font-family: "silkamedium";
  }

  #vr1 a {
    margin-left: 4px;
  }

  .button-main-page {
    justify-content: flex-end;
  }

  .button-main-page i {
    font-size: 16px;
  }

  .footer-r {
    display: flex;
    justify-content: center;
  }

  .cases .p2 {
    font-size: 19px;
  }

  .h1 {
    font-size: 60px;
  }

  .social-list {
    justify-content: space-between;
    margin-top: 40px;
  }

  .underlinelanding {
    top: 70px;
    width: 80px;
  }

  .cases .column {
    width: 100%;
  }

  .new-footer {
    flex-direction: column;
  }

  .footer-l p {
    text-align: center;
  }

  .new-footer {
    flex-direction: column-reverse;
    padding-bottom: 8px;
  }

  .cases .h3 {
    margin: 10px 0 15px;
    font-size: 40px;
    line-height: 45px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    font-family: "silkasemibold";
    text-align: left;
    letter-spacing: -4px;
  }

  .h3 {
    font-size: 24px;
  }

  .h4 {
    font-size: 20px;
  }

  .footer-r button {
    padding-left: 0px;
  }
}

/* DESKTOP VERSION */

/* Reponsive text across screens */

@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 55px;
  }

  #index-page .cases {
    gap: 80px;
  }

  .h2 {
    font-size: 20px;
  }

  .cases .h3 {
    font-size: 30px;
  }

  .p1 {
    font-size: 24px;
  }

  .p2 {
    font-size: 16px;
  }

  .button-main-page a {
    font-size: 16px;
  }

  .button-main-page i {
    font-size: 16px;
  }

  .cases .row {
    margin-bottom: 50px;
  }
}


@media (min-width: 601px)and (max-width: 1024px) {

  .overflowhidden {
    width: calc(65%) !important;

    
  }

  #iterationunder2 {
  
    bottom: 0px;
    
    left: 20%;
  
  }

  
  #iterationunder {
   
    bottom: 100px;
    left: 40%;

  }

  

  #iterationunder3 {
  
    bottom: 200px;
    left: 55%;
  
   
  }


  
}



@media screen and (min-width: 1024px) {





  .h1 {
    font-size: 96px;
  }

  .button-main-page a {
    font-size: 14px;

    border-radius: 10px;
    font-family: "silkamedium";
  }

  .cases .h3 {
    font-size: 56px;
  }

  .h2 {
    font-size: 80px;
  }

  .h3 {
    font-size: 56px;
  }

  .p1 {
    font-size: 24px;
  }

  .p2 {
    font-size: 20px;
  }

  .button-main-page a {
    font-size: 18px;
  }

  .button-main-page i {
    font-size: 20px;
  }
}

@media  (min-width: 1025px) and (max-width: 1440px) {
   
  .overflowhidden {
    width: calc(70%) !important;

    
  }

  
  #iterationunder {
   
    bottom: 30px;
    left: 200px;

  }

  #iterationunder2 {
  
    bottom: -100px;
    right: 10%;
  
  }

  #iterationunder3 {
  
    bottom: 200px;
    left: 60%;
  
   
  }


}

@media screen and (min-width: 1440px) {
  .section-2 {
    padding-left: 300px;
    padding-right: 300px;
  }

  .section-item-image img {
    position: relative;
    width: 122%;
    border-radius: 10px;
    right: 90px;
  }

  .section-2 {
    padding-left: 340px;
    padding-right: 340px;
  }

  /* no top bar for big 1440 */

  .navbar {
    width: 100%;
  }

  .navbar_container {
    margin: 0;
    padding-left: 4rem;
  }

  .detail_view_card {
    height: 100vh;
  }

  .detail_view_card_text h1 {
    font-size: 150px;
  }

  #mobile_menu {
    display: none;
  }

  .sidenav {
    width: 280px;
    left: 0;
  }

  .navbar_menu {
    padding-right: 3rem;
    align-items: flex-end;
  }

  .detail_view_card {
    padding-left: 18rem;
  }

  .important_message_container {
    padding-left: 18rem;
    align-items: left;
    justify-content: left;
  }

  .important_message_container h3 {
    padding-left: 3rem;
  }

  .description_container {
  }
  .description_container_item {
    display: block;
    justify-content: space-between;
    gap: 15px;
    margin-left: 3rem;
  }

  .books_container {
    padding-left: 18rem;
  }

  .books_container_title {
    padding-left: 3rem;
  }

  .books_container_cards {
    padding-left: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* landing page */

  .main_message {
  }

  /* footer */

  .phones_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
  /* turning off flip animation  */
  .flip-card:hover .flip-card-inner {
    transform: none;
  }

  /* turning off parallax animation  */

  .pimg1 {
    background-attachment: scroll;
  }
}
